@font-face {
    font-family: 'MontserratRegular';
    src: url(./Fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'MontserratMedium';
    src: url(./Fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url(./Fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'MontserratExtraBold';
    src: url(./Fonts/Montserrat-ExtraBold.ttf);
}