
h2.CompanyName{
    padding-top: 2rem;
    font-family: 'MontserratRegular', sans-serif;
    font-size: 64px;
}
.MainAbout{
    color: #F8F8F8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.Discribe{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap:7px;
    font-family: 'MontserratMedium', sans-serif;
    font-size: 48px;
}
.Discribe>p{
    padding: 0;
    margin: 0;
}
.AboutUsBcg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),  url('../../assets/Img/Houses/second_house.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 720px;
}
.MainAbout{
    padding:0 ;
    margin: 0;
}
@media (max-width: 1100px){
    .Discribe{
        font-size: 36px;
    }
    h2.CompanyName{
        font-size: 50px;
    }
}
@media (max-width: 768px){
    .Discribe{
        font-size: 32px;
    }
    h2.CompanyName{
        font-size: 42px;
    } 
}
@media (max-width: 500px){
    .Discribe{
        font-size: 28px;
    }
    h2.CompanyName{
        font-size: 36px;
    } 
}