/* Контейнер формы */
.FormAccept {
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.234);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'MontserratMedium', sans-serif;
}

.FormAcceptContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 350px;
  background-color: #FDFFF5;
  border-radius: 10px;
  color: #CEE27E;
  font-size: 24px;
}

.AcceptBtn {
  width: 40%;
  height: 80px;
  padding: 10px;
  border: none;
  background: #fffff8;
  color: #CEE27E;
  font-size: 30px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #BFC1B9;
  cursor: pointer;
}

.form-container {
  margin: 0;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1000px;
  min-height: 600px;
  background-color: #EDEFE0
}

/* Форма */
.form-box {
  text-align: left;
  background: #fffff8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 1500px;
  height: 800px;
  font-family: 'MontserratMedium', sans-serif;
  color: #CEE27E;
  font-size: 40px;
  transition: .3s;
}

.H2Header {
  font-size: 40px;
}

form {
  /* padding-inline: 30px; */
  padding: 70px;
}

.PhoneInp {
  width: 30%;
}

.EmailInp {
  width: 65%;
}

/* Группа полей */
.form-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 30px;
  height: 200px;
}

.FullName {
  width: 70%;
}

.HouseId {
  width: 25%;
}

/* Поля ввода */
/*  */
.BtnCon {
  display: flex;
  padding-top: 3rem;
  justify-content: center;

}

input {
  width: 100%;
  padding: 8px;
  height: 70px;
  border: 4px solid #EDEFE0;
  border-radius: 15px;
  font-size: 24px;
  color: #CEE27E;
  background-color: #FDFFF5;
}

input::placeholder {
  color: #CEE27E;
  opacity: 1;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* Ошибки */
.error {
  color: red;
  opacity: 0.7;
  font-size: 16px;
  margin-top: 5px;
  padding-inline: 10px;
}

.FormAdapt {
  transition: .3s;

}

/* Кнопка */
.SumbBtn {
  width: 40%;
  height: 150px;
  padding: 10px;
  border: none;
  background: #FDFFF5;
  color: #CEE27E;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #BFC1B9;
  cursor: pointer;
  transition: .3s;
}

.smaller{
  max-width: 300px;
  min-width: 100px;
  font-size: 30px;
  max-height: 100px;
  min-height: 50px;
  margin-bottom: 1em;


}

.SumbBtn:hover {
  box-shadow: 0px 7px 7px #BFC1B9;
}

.contactUs {
  background-color: #EDEFE0;
}


/* Адаптация для мобильных */

@media (max-width: 1250px) {
  .FormAdapt {
    font-size: 32px;
  }

  form {
    padding: 30px;
  }

  .form-box {
    width: 90%;
    height: auto;

  }

}

@media (max-width: 1024px) {
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1200px;
    background-color: #EDEFE0
  }

  .form-box {
    width: 90%;
    height: auto;

  }

  form {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .SumbitCon {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .FormAdapt {
    width: 100%;
    height: 350px;
    font-size: 30px;
  }

  .error {
    font-size: 14px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    margin-bottom: 30px;

  }

  input {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;

  }

  .BtnCon {
    padding-top: 1rem;
  }

  .SumbBtn {
    width: 60%;
    height: 110px;
  }

  @media (max-width: 768px) {
    .FormAdapt {
      font-size: 26px;
    }

    .SumbBtn {
      font-size: 32px;
    }
  }

  @media (max-width: 600px) {
    .FormAdapt{
      gap: 0;
    }
    .SumbBtn{
      font-size: 32px;
    }
    .smaller{
      font-size: 26px;
      height: 70px;
    }
  }

  @media (max-width: 450px) {
    .SumbBtn {
      height: 80px;
      font-size: 26px;
    }
    .FormAdapt {
      font-size: 24px;
    }
    .smaller{
      font-size: 22px;
      height: 50px;
    }
  }

  

}