.footerMain{
    max-width: 100%;
    background-color: #D8D8CC;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.footerContainer{
    padding-inline: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 80%;
    font-family: 'MontserratMedium', sans-serif;
    color: white;
}
.footerContainer h2{
    text-align: justify;
    font-size: 40px;
}
.footerDiscribe{
    font-size: 20px;
    text-align: justify;
}

.social{
    display: flex;
    flex-direction: row;
    min-width: auto;
    max-width: 280px;
    padding-bottom: 0;
}

.moreInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0
}
.phoneFooter{
    font-size: 32px;
    max-width: auto;
}
.social img{
    max-height: 80px;
    min-height: 55px;
    
 }
@media(max-width:1200px){
    .footerContainer h2{
        font-size: 32px;
    }
    .social img{
        max-height: 65px;
        min-height: 65px;
     }
     .footerContainer{
        flex-direction: column;
    }
    .phoneFooter{
        font-size: 26px;
    }
    @media(max-width: 568px){
        
        .footerContainer h2{
            font-size: 21px;
        }
        .footerDiscribe{
            font-size: 16px;
        }
        .social img{
            max-height: 60px;
            min-height: 55px;
         }
         .phoneFooter{
            font-size: 24px;
        }
    }
}