.HouseInfo{
    margin: 0;
    background: linear-gradient(
        to right,
        #D8D8CC 0%, 
        #B5B7AC 15%,                 
        #B7B9AD 85%,                 
        #A5A59C 95% 
    );
    /* background-color:#B5B7AC ; */
    font-family: 'MontserratMedium', sans-serif;
    font-size: 40px;
    
    color: #FFFFF5;
}
.HouseProfilePhoto{
    max-height: 1100px;
    height: 1100px;
    min-height: 400px;
    
}
.AboutHouse{
    padding-inline: 30px;
}
.CarouselButton1 {
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
}

.PropertiesPart{
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    gap: 15px;  
}
.PropertiesPart>div{
    max-width: 850px;
}
.HouseDescription{
    text-align: justify;
    
}
.Line{
        height: 10px; 
        background-color: #FDFFF5;
        border-radius: 20px; 
}

@media (max-width: 1500px){
    .HouseInfo{
        font-size: 36px;
    }
    .PropertiesPart>div{
        max-width: 700px;
        min-width: 550px;

    }
    @media (max-width: 1240px){
        .HouseProfilePhoto{
            height: 800px;
        }
        .HouseInfo{
            font-size: 32px;
        }
        .PropertiesPart>div{
            max-width: 550px;
            min-width: 400px;
        }  
    }
    @media (max-width: 1024px){
        
        .HouseInfo{
            font-size: 30px;
        }
        .PropertiesPart>div{
            max-width: 460px;
            min-width: 350px;
        } 
    }
    @media (max-width: 768px){
        .HouseProfilePhoto{
            height: 500px;
        }
        .HouseInfo{
            font-size: 26px;
        }
        .PropertiesPart{
            flex-direction: column;
        }
        .PropertiesPart>div{
            max-width: 740px;
            min-width: 80%;
        } 
    }
    @media (max-width: 500px){
        .HouseProfilePhoto{
            height: 400px;
        }
        .HouseInfo{
            font-size: 24px;
        }
        .AboutHouse h2{
            font-size: 30px;
        }
    }
}