/* .OffersCon{
    display: grid;
    grid-template-rows: 300px 1000px 300px;
    padding: 20px;
    gap: 30px;
    background-color: #EDEFE0;
} */

.OfferData>h2{
    font-family: 'MontserratSemiBold', sans-serif ;
    font-size: 40px;
    color: #FFFFF5;

    text-align: left;
}
.OfferData>p{
    
    font-family: 'MontserratMedium', sans-serif ;
    font-size: 32px;
    color: #FFFFF5;
    text-align: left;
}
.OfferData{
    padding: 10px;
    background-color: hsla(71, 7%, 70%, 0.625);
    height: 100%;
    width: 55%;
    
    
}

.OffersCarousel {
  padding-top:20px ;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #EDEFE0;
}

.CardsWrapper {
  width: 100%; 
  height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.CardsContainer {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.OfferCard {
  width: 1000px;
  height: 800px;
  flex-shrink: 0;
  border-radius: 15px;
  display: inline-block;
  justify-items: end;
  align-content: end;
  justify-content: end;
  align-items: end;
  text-align: center;
  background-size: cover;
  overflow: hidden;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.active-card {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}
.inactive-card{
  opacity: 0.8;
}


.CarouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  z-index: 3;
}

.CarouselButton.prev {
  left: 10px;
}

.CarouselButton.next {
  right: 10px;
}
@media (max-width: 1250px){

}
  @media (max-width: 1024px) {
    .OfferData>h2{ 
      font-size: 34px;

  }
  .OfferCard{
    max-width: 600px;
    max-height: 800px;
  }
  .OfferData>p{
      
      font-size: 28px;
  }

  }

@media (max-width: 768px) {
  .CardsWrapper {
    justify-content: center; 
  }

  .OfferData{
    max-width: 100%;
    width: 60%;   
}
  @media (max-width: 450px){
    .OfferCard{
      max-width: 300px;
      max-height: 600px;
    }
    .OfferData>h2{ 
      font-size: 24px;

    }
    .OfferData>p{
          
          font-size: 20px;
      }
      .OfferData{
        
        width: 70%;   
    }
     
  } 
}

.fixetBtn{
  position: fixed;
  max-width: 40%;
}