@font-face {
    font-family: 'MontserratExtraBold';
    src: url(./Fonts/Montserrat-ExtraBold.ttf);
}
.ss{
    background-color: black;
}
.OnTopH{
    max-width: 100%;
    overflow: hidden;
    background-color: #CEE27E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
}
.OnTopH> ul{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content:center;
    width: 80%;
}
.OnTopH > ul > a{
    text-decoration: none;
    font-family: 'MontserratExtraBold', sans-serif ;
    font-weight: bold;
    color: #F8F8F8;
    font-size: 36px;
    justify-items: center;
    text-align: center;
    width: 450px;
    transition: color 0.5s ease;
    /* background-color: aqua; */

}

.OnTopH > ul > a:hover {
    color: #EDEFE0; 
}


.ConHeaderH{
    background-color: #FFFFF0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
}
.ConHeaderH>h1{
    font-family: 'MontserratMedium', sans-serif ;
    text-align: center;
    font-size: 48px;
    color: #CEE27E;
}

@media (max-width:1700px){
    .OnTopH> ul{
        justify-content:center;
        padding-inline: 100px;
        /* max-width: 100%; */
    }
    .ConHeaderH>h1{
        font-size: 36px;
    }
    .OnTopH > ul > a{
        font-size: 32px;
    }
    @media (max-width: 1250px) {
        .OnTopH> ul{
            justify-content:center;
            padding-inline: 40px;
            max-width: 100%;
        }
        .ConHeaderH>h1{
            font-size: 32px;
        }
        .OnTopH > ul > a{
            font-size: 30px;
        }
    }
    @media (max-width: 1150px) {
        .OnTopH> ul{
            justify-content:center;
            padding-inline: 30px;
            max-width: 100%;
        }
        .ConHeaderH>h1{
            font-size: 30px;
        }
        .OnTopH > ul > a{
            font-size: 27px;
        }
        .ConHeaderH{
            max-height: 80px;
        }
    }
    @media (max-width: 1000px) {
        .OnTopH> ul{
            justify-content:center;
            padding-inline: 10px;
            width: 100%;
        }
        .ConHeaderH>h1{
            font-size: 28px;
        }
        .OnTopH > ul > a{
            font-size: 24px;
        }
        .ConHeaderH{
            max-height: 80px;
        }

    }
    @media (max-width: 768px){
        .OnTopH> ul{
            justify-content:center;
            align-items: center;
            padding-inline: 10px;
            width: 100%;
            text-align: center;

        }
        .ConHeaderH>h1{
            font-size: 24px;
        }
        .OnTopH > ul > a{
            font-size: 22px;
        }

    }
    @media (max-width: 500px){
        .ConHeaderH>h1{
            font-size: 24px;
        }
        .OnTopH > ul > a{
            font-size: 18px;
        } 
    }
    @media (max-width: 380px){
        .ConHeaderH>h1{
            font-size: 22px;
        }
        .OnTopH > ul > a{
            font-size: 16px;
        } 
    }
}
